.main__container {
  display: flex;
  flex-grow: 1;
  margin: 10px 0;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: minmax(min-content, min-content) 1fr;
    grid-template-rows: minmax(min-content, min-content) 1fr;
    grid-gap: 30px;
  }

  & div:nth-child(1) {
    grid-auto-column: auto;
    grid-row: auto;
  }

  & div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  & div:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}