.auth__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 409px;
    height: 390px;
    left: calc(50% - 409px/2);
    top: calc(50% - 382px/2);

    background: #FFFFFF;

    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.auth__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 30px;
    margin: 32px 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #424242;
}

.auth__input__wrapper {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 107px;
}

.auth__input__title {
    display: flex;
    align-items: center;
    height: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    color: #424242;
}

.auth__input__content {
    display: flex;
    align-items: center;
    width: 345px;
    height: 50px;
    padding: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    color: #424242;

    background: #FFFFFF;
    border: 1px solid #C9CACC;
    box-sizing: border-box;
    border-radius: 4px;
}

.auth__input__error {
    display: flex;
    align-items: center;
    height: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;

    color: #EB1717;
}

.auth__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 50px;
    margin-bottom: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;

    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
        cursor: pointer;
    }

    &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
        cursor: pointer;
    }
}