.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;

  color: #424242;
}

.header__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.header__button {
  display: flex;
  cursor: pointer;
}

.header__button__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__button__icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
}